body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}


.dspromo {
  font-family:  'SF Pro Display', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  font-size: 13px;
  width: 70vw;
  margin: 0 auto;
  margin-top: 10px;
  border-bottom: 1px solid #d7eaff  ;
  padding-bottom: 10px;

}
.dsbutton {
  color: #989ca2;
  background-color: rgba(152, 156, 162, 0.15);
  border-color: rgba(152, 156, 162, 0.15);
  margin-left: 48px;
  padding: 6px 10px;
  font-family:  'SF Pro Display', sans-serif;
  font-size: 12px;
  border-radius: 5rem;
  border: 1px solid rgba(152, 156, 162, 0.15);
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
}

.dsbutton img {
    position:relative ;
    top: 2px;
  }

.container {
  display: flex;
  justify-content: center; 
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 14px;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family:  'SF Pro Display', sans-serif;
  text-align: center;
  font-size: 13px;
  color: #1a232f;
  width: 100%;
  letter-spacing: 1px;
}

.pridaj {
  margin-left: 350px;
  background-color: #3597ff;
  border-color: #3597ff;
  border-radius: 6px;
  font-size: 14px;
  padding: 12px 20px;
  color: rgb(255, 255, 255);
  font-family:  'SF Pro Display', sans-serif;
  border: 0px;
  width: 230px;
  letter-spacing: 1px;
}

.blue-sec {
  background-color: #3597ff;
  width: 1920px;
  height: 440px;
  margin-bottom: 3rem;
  margin-top: 16px;
  position: relative;
}

.fotka-ob {
  height: 418px;
  width: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.uvod-text {
  color: white;
  position: absolute;
  left: 0px;
  font-family:  'SF Pro Display', sans-serif;
  letter-spacing: 1px;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-right: 12px;
  padding-left:  12px;
  margin-left: 300px;
}

.text-ins {
  font-size: 2.5rem;
  margin: 0;  
  --bs-text-opacity: 1;
  margin-bottom: 24px;
  font-weight: 300 ;

  
}

.real {
  line-height: 1.5;
}

.side-donut {
position: absolute;
right: 0;
bottom: -240px;
left: 1679px;
width: 482px;
}

.kontajner-dva {
display: flex; 
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 3rem ;
padding-bottom: 3rem;


}

.preco-op {
  margin: 0;
  font-weight: 300;
  font-size: 40px;
  font-family: 'SF Pro Display', sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 48px;


  
}

.open-bold {
  font-weight: 700;
}

.text-op {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;

}

.vysvetlivky {
  color: #566b8d;
  font-family: 'SF Pro Display', sans-serif;
  letter-spacing: 1px;
  margin-right: 3rem;
  margin-left: 3rem;
  line-height: 1.5;
}

.zeleny-kontajner {
  font-family: 'SF Pro Display', sans-serif;
  padding-top: 3rem;
  width: 25%;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
}

.flex-kontajnery {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border: 0;
}

.nadpis-jeden {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0.5rem

}

.popisok-jeden {
  margin: 0;
  color: #566b8d;
  letter-spacing: 1px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.text-jeden {
  padding-top: 16px;
  padding-bottom: 16px;
}

.cerveny-kontajner {
  font-family: 'SF Pro Display', sans-serif;
  padding-top: 3rem;
  width: 25%;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
}

.text-dva {
  padding-top: 16px;
  padding-bottom: 16px;
}

.nadpis-dva {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0.5rem

}

.popisok-dva {
  margin: 0;
  color: #566b8d;
  letter-spacing: 1px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;

}

.zlty-kontajner {
  font-family: 'SF Pro Display', sans-serif;
  padding-top: 3rem;
  width: 25%;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
}

.text-tri {
  padding-top: 16px;
  padding-bottom: 16px;
}

.nadpis-tri {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0.5rem
}

.popisok-tri {
  margin: 0;
  color: #566b8d;
  letter-spacing: 1px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.sekcia-tri {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: 'SF Pro Display', sans-serif;
  letter-spacing: 1px;
  
}
.kontajner-tri {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: 300px;
  margin-right: 300px;
  border: 0;
}

.kontajner-flex-tri{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  
}

.pismena-tri {
  padding-left: 12px;
  padding-right: 12px;
  width: 636px;

}

.vizia-tri {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 48px;
  font-weight: 300;
}

.bold-tri {
  font-weight: 700;
}

.komentar-tri {
  color: #566b8d;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  margin-top: 0;
  line-height: 1.5;
}

.druhy-komentar-tri {
  color: #566b8d;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-top: 0;
  line-height: 1.5;
}

.farbene-kocky-sekcia-tri {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
}

.modry-kontajner-tri {
  color: #5b94d7;
  background-color: rgba(221, 236, 251, 0.4);
  width: 185px;
  height: 152px;
  border-radius: 4px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin: 0.5rem;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
}

.modre-cislo-sekcia-tri {
  font-size: 90px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 0;
}

.modry-text-sekcia-tri {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}

.zeleny-kontajner-tri {
  color: #5cc19a;
  background-color: rgba(156, 238, 204, 0.4);
  width: 185px;
  height: 152px;
  border-radius: 4px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin: 0.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column; 
}

.zelene-cislo-sekcia-tri {
  font-size: 90px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 0;
}

.zeleny-text-sekcia-tri {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}

.zlty-kontajner-tri {
  color: #dbca68;
  background-color: rgba(238, 226, 156, 0.4);
  width: 185px;
  height: 152px;
  border-radius: 4px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin: 0.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column; 
}

.zlte-cislo-sekica-tri{
  font-size: 90px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 0;
}

.zlty-text-sekcia-tri {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}

.cerveny-kontajner-tri {
  color: #b95e73;
  background-color: rgba(238, 156, 156, 0.4);
  width: 185px;
  height: 152px;
  border-radius: 4px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin: 0.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column; 
}

.cervene-cislo-sekcia-tri {
  font-size: 90px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 0;
}

.cerveny-text-sekcia-tri {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}

.sekcia-styri {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family:  'SF Pro Display', sans-serif;
  letter-spacing: 1px;
}

.velky-kontajner-sekcia-styri {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 300px;
  margin-right: 300px;
}
.flex-kontajner-sekcia-styri {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.otazka-sekcia-styri {
  padding-left: 12px;
  padding-right: 12px;
  
}

.otazka-text-sekcia-styri {
  font-weight: 300;
  font-size: 2.5rem;
  margin: 0;
  line-height: 1.2;
}

.tucne-pismo-sekcia-styri {
  font-weight: 700;
}

.druhy-labov-sekcia-styri {
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  width: 66.66666667%;
}

.hybrid-lab-sekcia-styri {
  margin-right: 8px;
  margin-bottom: 0;
  flex: 1 0 0%;
  margin-bottom: 0;
  position: relative;
}

.hybrid-lab-sekcia-styri:hover {
  box-shadow: 0px 0.95237px 23.8092px rgb(99 118 149 / 15%);  
}

.padding-hybrid-lab-sekcia-styri {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
  padding-top: 1.5rem;
}

.hybrid-lab-nadpis-sekcia-styri {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  margin-top: 0;
}

.tucne-pismo-hybrid-lab-nadpis-sekcia-styri {
font-weight: 300;
}

.hybrid-lab-text-sekcia-styri {
  margin-bottom: 10px;
  font-size: 14px;  
  margin-top: 0;
  letter-spacing: 1px;
  color:  #566b8d;
  line-height: 1.5;
  font-weight: 400;
}

.gays-lab-sekcia-styri {
  margin-right: 8px;
  margin-bottom: 0;
  flex: 1 0 0%;
  margin-bottom: 0;
  display: flex;
  position: relative;
}

.gays-lab-sekcia-styri:hover {
  box-shadow: 0px 0.95237px 23.8092px rgb(99 118 149 / 15%);  
}

.padding-games-lab-sekcia-styri {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
  padding-top: 1.5rem;
}

.games-lab-nadpis-sekcia-styri {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  margin-top: 0;
}

.tucne-pismo-games-lab-nadpis-sekcia-styri {
  font-weight: 300;
}

.games-lab-text-sekcia-styri {
  margin-bottom: 10px;
  font-size: 14px;  
  margin-top: 0;
  letter-spacing: 1px;
  color:  #566b8d;
  line-height: 1.5;
  font-weight: 400;
}

.apps-lab-sekcia-styri {
  margin-right: 8px;
  margin-bottom: 0;
  flex: 1 0 0%;
  margin-bottom: 0;
  position: relative;
}

.apps-lab-sekcia-styri:hover {
  box-shadow: 0px 0.95237px 23.8092px rgb(99 118 149 / 15%);  
}

.padding-apps-lab-sekcia-styri {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
  padding-top: 1.5rem;
}

.apps-lab-nadpis-sekcia-styri {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  margin-top: 0;
}

.tucne-pismo-apps-lab-nadpis-sekcia-styri {
  font-weight: 300;
}

.apps-lab-text-sekcia-styri {
  margin-bottom: 10px;
  font-size: 14px;  
  margin-top: 0;
  letter-spacing: 1px;
  color:  #566b8d;
  line-height: 1.5;
  font-weight: 400;
}

.sipka-seda-sekcia-styri {
  position: absolute;
  bottom: 30px;

}

.hover-navbar-sekcia-prva {
  text-decoration: none;
  color: #1a232f;
}

.hover-navbar-sekcia-prva:hover{
color: #3597ff;
}

.button-dekoracia-sekcia-prva {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.discord-button-navbar-link {
  color: #989ca2;
  text-decoration: none;
}

.discord-button-navbar-link:hover {
  color: #212529;
}

.padding-sekcia-pat {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.kontajner-sekcia-pat {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 300px;
  margin-right: 300px;
  font-family:  'SF Pro Display', sans-serif;
  letter-spacing: 1px;
  position: absolute;
}

.flex-kontajner-sekcia-pat {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.nadpis-kontajner-sekcia-pat {
  margin-bottom: 1rem;
  padding-left: 12px;
  padding-right: 12px;
}

.nadpis-text-sekcia-pat{
margin-bottom: 48px;
margin-top: 0px;
font-weight: 300;
text-align: center;
font-size: 2.5rem;
}

.tucne-pismo-nadpis-sekcia-pat {
  font-weight: 700;
}

.halova-kontajner-sekcia-pat {
  margin-right: 3rem;
  padding-left: 12px;
  padding-right: 12px;
  width: 526px;
}

.flex-halova-kontajner-sekcia-pet {
  border: 0;
  flex-direction: column;
  display: flex;
  position: relative;
}

.obrazok-halova-sekcia-pat {
  width: 526px;
  height: auto;
}

.popisok-halova-sekcia-pat {
  padding-top: 24px;
  padding-bottom: 16px;
}

.halova-suradnice-sekcia-pat {
  margin-bottom: 24px;
  margin-top: 0;
  color: #566b8d;
  font-weight: 300;
  margin-bottom: 1.5rem;
  align-items: center;
  display: flex;
  font-size: 1rem;
  line-height: 1.2;
}

.halova-popisok-sekcia-pat {
  margin-bottom: 8px;
  margin-top: 0;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.upozornenie-a-link-halova-sekcia-pat {
  margin-top: 0;
}

.cerveny-text-sekcia-pat {
  color: red;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.warning-icon-sekcia-pat {
  height: 15px;
  width: auto;
  vertical-align: middle;
  margin-right: 5px;
}

.www-halova-sekcia-pat {
  text-decoration: none;
  color: #3597ff;
  font-size: 1.125rem;
  font-weight: 500;

 }

.www-halova-text-sekcia-pat {
  margin-top: 0;
  margin-bottom: 0;
} 

.upozornenie-halova-sekcia-pat{
  position: relative;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 0.5rem;
}

.nabrezna-kontajner-sekcia-pat{
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 3rem;
  width: 526px;
}

.flex-nabrezna-kontajner-sekcia-pat{
  display: flex;
  flex-direction: column;
  border: 0;
  position: relative;
}

.popisok-nabrezna-sekcia-pat {
  padding-top: 24px;
  padding-bottom: 16px;
}

.nabrezna-suradnice-sekcia-pat {
  margin-bottom: 24px;
  margin-top: 0;
  color: #566b8d;
  font-weight: 300;
  margin-bottom: 1.5rem;
  align-items: center;
  display: flex;
  font-size: 1rem;
  line-height: 1.2;
}

.nabrezna-popisok-sekcia-pat{
  margin-bottom: 8px;
  margin-top: 0;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.www-nabrezna-text-sekcia-pat {
  margin-top: 0;
  margin-bottom: 0;
}

.www-nabrezna-sekcia-pat {
  text-decoration: none;
  color: #3597ff;
  font-size: 1.125rem;
  font-weight: 500;

 }

 .halova-a-nabrezna-kontajnery-sekcia-pat {
  display: flex;
  flex-direction: row;
 }

 .zeleny-obrazok-sekcia-pat {
  width: 436px;
  height: auto;
 }

.div-zeleny-obrazok-sekcia-pat {
 position: relative;
 bottom: -270px;
 left: 1707px;
}

.padding-sekcia-sest {
  padding-top: 3rem;
  background-color: #f3f9ff;
  
}

.obsah-sekcia-sest {
  margin-left: 300px;
  margin-right: 300px;
  padding-left: 12px;
  padding-right: 12px;
}

.flex-sekcia-sest {
align-items: flex-end;
display: flex;
flex-direction: row;
}

.text-sekcia-sest {
  padding-left: 12px;
  padding-right: 12px;
}

.otazka-sekcia-sest {
  font-weight: 700;
  margin-bottom: 0;
  font-family:  'SF Pro Display', sans-serif;
  letter-spacing: 1px;
  font-size: 2.5rem;
  margin-top: 0;
}

.otazka-tenke-pismo-sekcia-sest {
  font-weight: 300;
}

.padding-dlhy-text-sekcia-sest {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 42px;
}

.uvodzovky-obrazok-sekcia-sest {
  position: absolute;
  top: -30px;
  left: -15px;
}

.text-marko-sekcia-sest {
  color: #566b8d;
  margin-top: 0;
  margin-bottom: 3rem;
  font-family:  'SF Pro Display', sans-serif;
  letter-spacing: 1px;
  position: relative;
  font-size: 16px;
  line-height: 1.5;
}

.marko-hybrid-lab-sekcia-sest-podpis {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  align-items: center;
  display: flex;
}

.modry-panacik-sekcia-sest-obrazok {
  margin-right: 0.5rem;
}

.marko-meno-sekcia-sest {
  font-size: 0.875rem;
  font-family:  'SF Pro Display', sans-serif;
  letter-spacing: 1px;
  color: #566b8d;
  font-weight: 600;
  margin: 0;
}

.hybrid-meno-sekcia-sest {
  font-size: 0.875rem;
  font-family:  'SF Pro Display', sans-serif;
  letter-spacing: 1px;
  color: #566b8d;
  font-weight: 400;
  margin: 0;
}

.obrazok-sebo-sekcia-sest {
  margin-left: 110px;
  padding-left: 12px;
  padding-right: 12px;

}

.velkost-obrazku-sebo-sekcia-sest {
  width: 612px;
  height: auto;
}